<head>
    <link rel="stylesheet" href="~/css/site.css" />
    
    
    
</head>
<footer class="footer">
    <div >
        <h5>fait par :</h5>
        <h6 class="git">
            <a href="https://git.dti.crosemont.quebec/ftchakounte">Miranda Tchakounte</a>
            <a href="https://git.dti.crosemont.quebec/vmbuntho">Vanetta Mbûntho</a>
            <a href="https://git.dti.crosemont.quebec/iharch">Imane El Harch</a>
            <a href="https://git.dti.crosemont.quebec/2382724">Sarah  Laroubi</a>
        </h6>
    </div>
    <div class="footer-links">
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a href="#">Careers</a>
        <a href="#">Help</a>
        <a href="#">Resources</a>
    </div>
    <!-- Footer -->
        <div class="copyright">kaypic©2025 @DateTime.Now</div>
</footer>
