@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mot de passe oublié ?";
}

<h1>@ViewData["Title"]</h1>
<h2>Veuillez entrer votre adresse e-mail.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <!-- Affichage des erreurs de validation -->
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Champ Email -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Email"
                       class="form-control"
                       autocomplete="username"
                       aria-required="true"
                       placeholder="nom@exemple.com" />
                <label asp-for="Input.Email" class="form-label">Adresse e-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- Bouton -->
            <button type="submit" class="w-100 btn btn-lg btn-primary">
                Réinitialiser le mot de passe
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
