@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation du nouveau mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>

    Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant
    <a asp-page="./Login">vous connecter</a> avec vos nouvelles informations.
</p>
