body {
    font-family: "Segoe UI", Roboto, sans-serif;
    background-color: #f6f3f3;
    color: #333;
    margin: 0;
}

/*.feed-container {
    width: 600px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}*/

.navbar {
    background-color: #a6192e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.feed {
    padding: 20px;
}

.post-box {
    display: flex;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.user-avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.post-input {
    flex: 1;
    margin-left: 10px;
}

    .post-input textarea {
        width: 100%;
        height: 60px;
        border: none;
        resize: none;
        padding: 10px;
        font-size: 14px;
        border-radius: 8px;
        outline: none;
        background: #fff;
    }

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.icons i {
    margin-right: 10px;
    color: #a6192e;
    cursor: pointer;
}

.btn-post {
    background-color: #a6192e;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

    .btn-post:hover {
        background-color: #c22d3f;
    }

.post {
    display: flex;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

.post-content {
    margin-left: 10px;
    flex: 1;
}

.post-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
}

.username {
    font-weight: 600;
    color: #a6192e;
}
