
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    color: #FAF3F3;
    background-color: #5c0010;
}
/* Footer */
    .footer {
    background-color: #4d1f1f;
    color: white;
    padding: 3rem 5rem;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
    list-style: none;
}

    .footer-links a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        transition: color 0.3s ease;
    }

        .footer-links a:hover {
            color: #c32020;
        }

.footer .copyright {
    position: absolute;
    bottom: 1rem;
    left: 5rem;
    font-size: 1rem;
    font-weight: 400;
}

.container {
    background-color: #ffe4ea;
}
